<ul class="flippy">
    {% if first %}
    <li class="flippy-first">{{ first }}</li>
    {% endif %}
    {% if prev %}
    <li class="flippy-previous"><span>{{ 'Previous Story'|t }}</span>{{ prev }}</li>
    {% endif %}
    {% if random %}
    <li class="flippy-random">{{ random }}</li>
    {% endif %}
    {% if next %}
    <li class="flippy-next"><span>{{ 'Next Story'|t }}</span>{{ next }}</li>
    {% endif %}
    {% if last %}
    <li class="flippy-last">{{ last }}</li>
    {% endif %}
</ul>
